<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://unpkg.com/axios@1.1.2/dist/axios.min.js"></script>
    <link rel="stylesheet" href="/css/main.css">
    <title>Document</title>
</head>
<body>
    <div class="bord">
        <select name="" class="select_filter">
            <option value="Orange">Помарачневий</option>
            <option value="Green">Зелений</option>
            <option value="Yellow">Жовтий</option>
            <option value="Red">Червоний</option>
        </select>
    <div class="filter_none"></div>
    </div>
    <div class="list"></div>
    <script src="/js/main.js"></script>
</body>
</html>